
@if (currentCommunity.initialized && posts) {
  <div class="post-feed">
    @for (post of posts; track post.postId; let i = $index) {
      <div class="post-card">

        <div class="vote-card">
          @if (votingEnabled()) {
            <app-voting
              [postId]="post.postId"
              (voteUpdated)="postVoteUpdated($event, i)"
              ></app-voting>
            <h1 class="vote-count">{{ post.vote }}</h1>
          
          } @else {
            <div class="icon-tooltip-hover">
              <i class="bi bi-arrows-expand"></i>
            </div>
            <p class="icon-tooltip">Please join community to vote on posts!</p>
            <h1 class="vote-count">{{ post.vote }}</h1>
          }
        </div>
        
        <h2><a [routerLink]="['post',post.postId]">{{ post.caption }}</a> <br>:{{ post.displayName }}</h2>
        <p>{{ post.description }}</p>

        <div class="image-element-wrapper" *ngFor="let content of post.resources">
          <img class="image-element" [src]="content">
        </div>
      </div>
    } @empty {
      <div class="post-card">
        <h1>No posts to display!</h1>   
      </div>
    }
  </div>
} @else {
  <div style="margin: 50px">
    <div class="spinner-border text-success" style="width: 3rem; height: 3rem;" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
}
