<div id="create-community-wrapper">

  <div class="create-community-field">
    <span>Enter new community locator! <br>Used in URLs and to locate your community...</span>
    <input
      type="text"
      class="form-control"
      [formControl]="communityRefForm"
      required
      placeholder="Enter Community Ref"
      >

      <app-static-errors [WARNINGS]="[
        {
          show: communityRefForm.hasError('pattern'),
          message: '
            Community Locator must... <br>
            <ul>
              <li>only contain lowercase letters (a-z) , numbers (0-9) , and hyphens (-) .</li>
              <li>Locator must not begin or end with a hyphen (-)</li>
              <li>Locator must not begin with a number (0-9)</li>
            </ul>
          '
        },
        {
          show: !communityRefForm.value || communityRefForm.getRawValue()!.length < 3,
          message: 'Community Locator is required and must be longer than 2 characters.'
        },
        {
          show: communityRefForm.value && communityRefForm.getRawValue()!.length > 30,
          message: 'Community Locator must be no longer than than 30 characters!'
        },
      ]">

      </app-static-errors>
  </div>

  <div class="create-community-field">
    <span>Enter new community display name! <br>Used to search for your community...</span>
    <input
    type="text"
    class="form-control"
    [formControl]="communityDisplayNameForm"
    required
    placeholder="Enter Community Display Name"
    >

    <app-static-errors [WARNINGS]="[
      {
        show: !communityDisplayNameForm.value || communityDisplayNameForm.getRawValue()!.length < 3,
        message: 'Community Display Name is required and must be longer than 2 characters!'
      },
      {
        show: communityDisplayNameForm.value && communityDisplayNameForm.getRawValue()!.length > 100,
        message: 'Community Display Name must be no longer than than 100 characters!'
      },
      ]">
    </app-static-errors>
  </div>

  <button
    style="margin-bottom: 10px;"
    class="btn btn-primary"
    [disabled]="this.communityRefForm.invalid||this.communityDisplayNameForm.invalid"
    (click)="createCommunity()"
  >
    Get Started!
  </button>

  <app-server-errors [serverErrorHandler]="serverErrorHandler"></app-server-errors> 
</div>
