<div id="create-community-wrapper">

  <div class="create-community-field">
    <span>Enter new community locator! <br>Used in URLs and to locate your community...</span>
    <input
      type="text"
      class="form-control"
      [formControl]="communityRefForm"
      required
      placeholder="Enter Community Ref"
      >

      <app-static-errors [WARNINGS]="[{
          show: communityRefForm.hasError('pattern'),
          message: communityRefFormWarnings.pattern
        },{
          show: !communityRefForm.value || communityRefForm.value.length < preferences.COMMUNITY_REF_MIN,
          message: communityRefFormWarnings.min
        },{
          show: communityRefForm.value && communityRefForm.value.length > preferences.COMMUNITY_REF_MAX,
          message: communityRefFormWarnings.max
        },]"></app-static-errors>
  </div>

  <div class="create-community-field">
    <span>Enter new community display name! <br>Used to search for your community...</span>
    <input
    type="text"
    class="form-control"
    [formControl]="communityDisplayNameForm"
    required
    placeholder="Enter Community Display Name"
    >

    <app-static-errors [WARNINGS]="[{
        show: !communityDisplayNameForm.value || communityDisplayNameForm.value.length < preferences.COMMUNITY_NAME_MIN,
        message: communityDisplayNameFormWarnings.min
      },{
        show: communityDisplayNameForm.value && communityDisplayNameForm.value.length > preferences.COMMUNITY_NAME_MAX,
        message: communityDisplayNameFormWarnings.max
      },]"></app-static-errors>
  </div>

  <button
    style="margin-bottom: 10px;"
    class="btn btn-primary"
    [disabled]="this.communityRefForm.invalid||this.communityDisplayNameForm.invalid"
    (click)="createCommunity()"
  >
    Get Started!
  </button>

  <app-server-errors [serverErrorHandler]="serverErrorHandler"></app-server-errors> 
</div>
