
<div *ngIf="!loading" class="register-user-box">

  <h1>Welcome to FOSS Message Board!</h1>
  <h2>Please fill out the following information so you can get started!</h2>

  <input
    type="text"
    class="form-control"
    [formControl]="displayNameForm"
    placeholder="Enter Display Name"
    >

  <app-static-errors [WARNINGS]="[
    {
      show: displayNameForm.hasError('pattern'),
      message: displayNameFormWarnings.pattern
    },
    {
      show: displayNameForm.getRawValue()!.length < preferences.DISPLAY_NAME_MIN,
      message: displayNameFormWarnings.min,
    },
    {
      show: displayNameForm.getRawValue()!.length > preferences.DISPLAY_NAME_MAX,
      message: displayNameFormWarnings.max
    },
  ]"></app-static-errors>

  <button
    class="btn btn-primary"
    [disabled]="this.displayNameForm.invalid"
    (click)="registerUser()"
    >
    Get Started!
  </button>

  <app-server-errors [serverErrorHandler]="serverErrorHandler"></app-server-errors>
</div>
