
<div *ngIf="!loading" class="register-user-box">

  <h1>Welcome to FOSS Message Board!</h1>
  <h2>Please fill out the following information so you can get started!</h2>

  <input
    type="text"
    class="form-control"
    [formControl]="displayNameForm"
    placeholder="Enter Display Name"
    >

  <div id="username-warnings">
    <div
      *ngIf="displayNameForm.hasError('pattern')"
      class="alert alert-danger"
      role="alert">
      Username must contain only letters (upper and lower case, A-Z, a-z) , numbers (0-9) , hyphens (-) , and underscores (_) .
    </div>

    <div
      *ngIf="displayNameForm.getRawValue()!.length < 3"
      class="alert alert-danger"
      role="alert">
      Username is required and must be longer than 2 characters.
    </div>

    <div
      *ngIf="displayNameForm.getRawValue()!.length > 30"
      class="alert alert-danger"
      role="alert">
      Username must be no longer than than 30 characters!
    </div>
  </div>

  <button
    class="btn btn-primary"
    [disabled]="this.displayNameForm.invalid"
    (click)="registerUser()"
    >
    Get Started!
  </button>

</div>
