
.header-buffer-no-picture {
  display: block;
  width: 100vw;
  height: calc(var(--wma-community-header-info-height) - 25px);
}

.header-buffer-picture {
  display: block;
  width: 100vw;
  height: calc(var(--wma-community-header-height) - 25px);
}

.community-content-wrapper {
  max-height: var(--wma-community-content-height);
}

.community-content-wrapper-no-banner-image {
  max-height: var(--wma-community-content-height-no-banner-image);
}

#community-content-wrapper {
  position: static;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0 10px;
}

#community-info-slide {
  line-break: anywhere;

  height: 55vh;
  max-height: fit-content;
  width: 30vw;

  background-color: var(--wma-card-color);

  margin: 20px 10px 0 10px;
  padding: 20px;
  border-radius: 20px;
}

#community-buttons {

  > button {
    width: 90px;
    margin-top: 20px;
  }

  display: flex;
  flex-direction: column;
}

#community-router-wrapper {
  overflow: scroll;
  width: 60vw; 
  margin-top: 20px;
  padding: 0 10px 100px 10px;
}
