<div *ngIf="community$|async as community">

  <app-community-header [userId]="userInfo.userId" [communityInfo]="community"></app-community-header>

  <br>

  <div id="community-content-wrapper">

    <div id="community-info-slide">
      <p>now viewing community/{{ community.communityLocator }}</p>
      <h1>{{ community.displayName }}</h1>
      <p>{{ community.communityMemberCount }} Members!</p>

      <button
        *ngIf="community.ownerId===userInfo.userId"
        class="btn btn-outline-secondary"
        [routerLink]="['/community',community.communityLocator,'edit']"
      >Edit</button>

      <button
        *ngIf="!userIsCommunityMember && !isCommunityOwner"
        class="btn btn-outline-secondary"
        (click)="joinCommunity()"
      >Join</button>

      <button
        *ngIf="userIsCommunityMember && !isCommunityOwner"
        class="btn btn-outline-secondary"
        (click)="leaveCommunity()"
      >Leave</button>

    </div>

    <router-outlet></router-outlet>

  </div>
</div>
