
.header-buffer-no-picture {
  display: block;
  width: 100vw;
  height: calc(var(--wma-community-header-info-height) - 25px);
}

.header-buffer-picture {
  display: block;
  width: 100vw;
  height: calc(var(--wma-community-header-height) - 25px);
}

#community-content-wrapper {
  position: static;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0;
  padding: 0 10px;
}

.community-content-wrapper {
  max-height: var(--wma-community-content-height);
}

.community-content-wrapper-no-banner-image {
  max-height: var(--wma-community-content-height-no-banner-image);
}

#community-info-slide {
  line-break: anywhere;

  height: 55vh;
  max-height: fit-content;
  max-width: 40vw;

  background-color: var(--wma-card-color);

  margin: 20px 10px 0 10px;
  padding: 20px;
  border-radius: 20px;
  flex-grow: 1;
}

#community-buttons {

  > button {
    width: 90px;
    margin-top: 20px;
  }

  display: flex;
  flex-direction: column;
}

#community-router-wrapper {
  overflow: scroll;
}

.community-router-child-wrapper {
  min-width: 60vw;
  margin: 20px 10px;
}