<div *ngIf="!loading" >

  <app-community-header [userId]="userInfo.userId" [communityInfo]="communityInfo"></app-community-header>

  <br>

  <div id="community-content-wrapper">

    <div id="community-info-slide">
      <p>now viewing community/{{ communityInfo.communityLocator }}</p>
      <h1>{{ communityInfo.displayName }}</h1>
      <p>{{ communityInfo.communityMemberCount }} Members!</p>

      <button
        *ngIf="communityInfo.ownerId===userInfo.userId"
        class="btn btn-outline-secondary"
        [routerLink]="['/community',communityInfo.communityLocator,'edit']"
      >Edit</button>

      <button
        *ngIf="!userIsCommunityMember && !isCommunityOwner"
        class="btn btn-outline-secondary"
        (click)="joinCommunity()"
      >Join</button>

      <button
        *ngIf="userIsCommunityMember && !isCommunityOwner"
        class="btn btn-outline-secondary"
        (click)="leaveCommunity()"
      >Leave</button>

    </div>

    <router-outlet></router-outlet>

  </div>
</div>
