<div *ngIf="community$|async as community">

  <app-community-header [userId]="userInfo.userId" [communityInfo]="community"></app-community-header>

  <br>

  <div id="community-content-wrapper">

    <div id="community-info-slide">
      <p>now viewing community/{{ community.communityLocator }}</p>
      <h1>{{ community.displayName }}</h1>
      <p>{{ community.communityMemberCount }} Members!</p>


      <div id="community-buttons">
        <button
          class="btn btn-outline-secondary"
          [routerLink]="['/community',communityInfo.communityLocator]"
        >Feed</button>

        <button
          class="btn btn-outline-primary"
          [routerLink]="['/community',communityInfo.communityLocator,'post']"
        >Post</button>

        <button
          *ngIf="isCommunityOwner"
          class="btn btn-secondary"
          [routerLink]="['/community',community.communityLocator,'edit']"
        >Edit</button>

        <button
          *ngIf="!userIsCommunityMember && !isCommunityOwner"
          class="btn btn-outline-secondary"
          (click)="joinCommunity()"
        >Join</button>

        <button
          *ngIf="userIsCommunityMember && !isCommunityOwner"
          class="btn btn-outline-secondary"
          (click)="leaveCommunity()"
        >Leave</button>
      </div>
    </div>

    <div  id="community-router">
      <router-outlet></router-outlet>
    </div>

  </div>
</div>
