<div id="app-header">
  @if (authenticated$|async) {
    <button class="btn btn-primary" routerLink="/">Home</button>
    <button class="btn btn-primary" routerLink="/communityTools">Communities</button>
    <button class="btn btn-primary" routerLink="/user">Menu</button>
    <button class="btn btn-outline-primary" (click)="logout()">Logout</button>
  } @else {
    <button class="btn btn-primary" (click)="login()">Login</button>
    <button class="btn btn-primary" (click)="register()">Register</button>
  }
</div>
