
<input
  type="text"
  class="form-control"
  [formControl]="communityDisplayNameForm"
  required
  placeholder="Search for new communities!"
  (keyup)="searchForCommunity($event)"
>

@if (communities) {
@for (community of communities; track community.communityId) {
  <div id="community-search-wrapper">
  <div class="community-blurb">
    <br>
    <h2><a [routerLink]="['/community', community.communityLocator]">{{ community.displayName }}</a></h2>
    <img [src]="community.resourceUrls.icon"><br>
  </div>
  </div>
} @empty {
  <h3>No communities found</h3>
}}
