@import "src/styles";


$post-size-max: 400px;

.post-card {
  background-color: $post-card-bg;
  padding: 20px;
  margin: 10px;
  border-radius: 20px;
}

img {
  width:$post-size-max;
  max-height: $post-size-max;
  object-fit: cover;
}
