
$post-size-max: 400px;

.post-card {
  background-color: var(--wma-card-color);
  padding: 20px;
  margin: 10px;
  border-radius: 20px;
}

.vote-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.vote-count {
  margin-top: 5px;
  padding: 20px;
}

.image-element-wrapper {
  overflow: scroll;
}

.image-element {
  max-width: $post-size-max;
  max-height: $post-size-max;
  object-fit: cover;
}

i {
  font-size: 30px;
  color: var(--bs-secondary);
}
