
#header-wrapper {
  margin: 0;
  padding: 0;
  border-width: 0;
  position: absolute;
  z-index: 10;
}

.header-wrapper {
  height: var(--wma-community-header-height);
}

.header-wrapper-no-picture {
  height: var(--wma-community-header-info-height);
}

#community-banner {
  width: 100vw;
  height: var(--wma-community-banner-height);
  object-fit: cover;
}

#community-header {
  width: 100vw;
  height: var(--wma-community-header-info-height);
  align-items: center;
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  flex-grow: 1;
  background-color: var(--bs-secondary);
  margin: 0;
}

#community-buttons {
  > button {
    margin-left: 15px;
  }
}

#community-icon {
  height: var(--wma-community-header-info-height);
}


