
<img id="community-banner" [src]="communityInfo.resourceUrls.banner">

<div id="community-header">

  <img id="community-icon" [src]="communityInfo.resourceUrls.icon">

  <h3>community/{{ communityInfo.communityLocator }}</h3>

  <div id="community-buttons">
    <button
      class="btn btn-outline-secondary"
      [routerLink]="'/community/'+communityInfo.communityLocator"
      >Feed</button>
    <button
      class="btn btn-outline-secondary"
      [routerLink]="['/community',communityInfo.communityLocator,'post']"
      >Post</button>
    <button
      *ngIf="communityInfo.ownerId===userId"
      class="btn btn-outline-secondary"
      [routerLink]="'/community/'+communityInfo.communityLocator+'/edit'"
      >Edit</button>
  </div>

  <!--  <h1>{{ communityInfo.displayName }}</h1>-->

</div>
