  <header class="header">
    <header class="header">
      <h1>Welcome to Chirpper</h1>
      <h5>Where every chirp takes flight and is heard across the world!</h5>
  </header>
<div id="landing-page-layout">

  <div id="lefthand-card" class="landing-page-card">
    <p>Login and Register Buttons go here?</p>
  </div>
  <div id="center-card" class="landing-page-card">
    <p>Recents Posts</p>
    <app-post-feed></app-post-feed>
  </div>

  <div id="righthand-card" class="landing-page-card">
    <p>New Communities</p>
  </div>

</div>
