
<div class="user-menu-card" *ngIf="userProfile$|async as user">

  <div>
    <img
      height="200"
      *ngIf="user.userProfileImage"
      [src]="user.userProfileImage"
      >

    <div *ngIf="showChangeDisplayNameForm; else showDisplayName">

      <input
        class="form-control"
        [formControl]="this.displayNameForm"
        type="text"
        required="false"
        [placeholder]="user.displayName"
      >

      <button
        class="btn btn-secondary"
        (click)="toggleChangeDisplayNameForm()"
      >
        Cancel
      </button>
      <button
        class="btn btn-primary"
        (click)="changeDisplayName()"
        [disabled]="this.displayNameForm.invalid"
      >
        Change!
      </button>
    </div>
    <ng-template  #showDisplayName>
      <h1>{{ user.displayName }}<i class="bi bi-pencil" (click)="toggleChangeDisplayNameForm()"></i></h1>
    </ng-template>

    <h3>{{ user.email }}</h3>
  </div>

  <div class="form-control-container">
    <app-image-upload-and-crop
      [MAINTAIN_ASPECT_RATIO]="true"
      [ASPECT_RATIO]="1"
      (imageCroppedAndReadyEvent)="updateUserProfileImage($event)"
      *ngIf="!PROCESSING_REQUEST"
    ></app-image-upload-and-crop>
  </div>

  <div class="form-check form-switch" style="margin: 20px; display: block">
    <input
      style="scale: 2; margin-right: 40px"
      class="form-check-input"
      type="checkbox"
      role="switch"
      id="flexSwitchCheckDefault"
      (change)="darkModeUpdated($event)"
      [checked]="newThemeBuffer"
      >
    <label class="form-check-label" for="flexSwitchCheckDefault">Dark Mode?</label>
  </div>
</div>
