
@if (user) {

<div class="user-menu-card">

  <div>
    <img
      height="200"
      *ngIf="user.userProfileImage"
      [src]="user.userProfileImage"
      >

    @if (change_display_name_form_toggle) {
    <div>

      <input
        class="form-control"
        [formControl]="this.displayNameForm"
        type="text"
        required="false"
        [placeholder]="user.displayName"
      >

      <app-static-errors [WARNINGS]="[
        {
          show:displayNameForm.hasError('pattern') ,
          message:'Usernames must contain only letters (upper and lower case, A-Z, a-z) , numbers (0-9) , hyphens (-) , and underscores (_) .' 
        },
        {
          show:displayNameForm.value && displayNameForm.getRawValue()!.length < 3,
          message:'New username must be longer than 2 characters.' 
        },
        {
          show:displayNameForm.getRawValue()!.length > 30,
          message:'Username must be no longer than than 30 characters!' 
        },
      ]"></app-static-errors>

      <button
        class="btn btn-secondary"
        (click)="toggleChangeDisplayNameForm()"
      >
        Cancel
      </button>
      <button
        class="btn btn-primary"
        (click)="changeDisplayName()"
        [disabled]="this.displayNameForm.invalid"
      >
        Change!
      </button>

      @for (error of ERROR_MESSAGES; track error; let i = $index) {
        <div 
        style="margin-top: 10px">
          <div
            *ngIf="error.show"
            id="away"
            class="alert alert-danger alert-dismissible"
            role="alert">
            {{ error.message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="hideError(i)"></button>
          </div>
        </div>
      }
      
    </div>
    } @else {
      <h1>{{ user.displayName }}<i class="bi bi-pencil" (click)="toggleChangeDisplayNameForm()"></i></h1>
    }

    <h3>{{ user.email }}</h3>
  </div>

  <div>

    <span>Update profile image</span>

    <div class="form-control-container">
      <app-image-upload-and-crop
        [MAINTAIN_ASPECT_RATIO]="true"
        [ASPECT_RATIO]="1"
        (imageCroppedAndReadyEvent)="updateUserProfileImage($event)"
        *ngIf="!PROCESSING_REQUEST"
      ></app-image-upload-and-crop>
    </div>

  </div>

  <br>

  <div class="form-check form-switch" style="margin: 0; padding: 0; display: flex; flex-direction: row">
    <label class="form-check-label" for="flexSwitchCheckDefault">Dark Mode?</label>

    <input
      style="scale: 2; margin-left: 30px"
      class="form-check-input"
      type="checkbox"
      role="switch"
      id="flexSwitchCheckDefault"
      (change)="darkModeUpdated($event)"
      [checked]="dark_mode_switch_toggle"
      >
  </div>
</div>

}