
<div *ngIf="!loading" class="user-menu-card">

  <div *ngIf="userProfile$|async as user">
    <img
      height="200"
      *ngIf="user.userProfileImage"
      [src]="user.userProfileImage"
      >

    <div *ngIf="showChangeDisplayNameForm; else showDisplayName">

      <input
        class="form-control"
        [formControl]="this.displayNameForm"
        type="text"
        required="false"
        [placeholder]="user.displayName"
      >

      <button
        class="btn btn-secondary"
        (click)="toggleChangeDisplayNameForm()"
      >
        Cancel
      </button>
      <button
        class="btn btn-primary"
        (click)="changeDisplayName()"
        [disabled]="this.displayNameForm.invalid"
      >
        Change!
      </button>
    </div>
    <ng-template  #showDisplayName>
      <h1>{{ user.displayName }}<i class="bi bi-pencil" (click)="toggleChangeDisplayNameForm()"></i></h1>
    </ng-template>

    <h3>{{ user.email }}</h3>
  </div>

  <div class="form-control-container">
<!--    <input-->
<!--      class="form-control"-->
<!--      (change)="newImageUploaded($event)"-->
<!--      [formControl]="this.fileInput"-->
<!--      type="file"-->
<!--      required="false"-->
<!--    >-->
    <app-image-upload-and-crop
      (imageCroppedAndReadyEvent)="updateUserProfileImage($event)"
      *ngIf="!PROCESSING_REQUEST"
    ></app-image-upload-and-crop>

  </div>



</div>
