@import "src/styles";

//input {
//  background-color: var(--wma-background-color) !important;
//  color: var(--bs-body-color) !important;
//}

.form-control-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: baseline;
}

.form-control {
  max-width: 500px;
  display: inline;
}
