
// Override Bootstrap Global Variables
$theme: "dark-styles" !default;

// Colors
$primary:  #5b35da;
$secondary: #d2c5b7;
$success: #ffd83c;

$black: #171717;
$white: #f8f8f8;

// Global Font Color
$body-color: $white;
// Global Background Color
$body-bg: $black;

// Input Style Box Overrides
// backgrounds
  $input-bg:            $black;
  $input-disabled-bg:   $secondary;
// fonts
  $input-color:         $body-color;
  $input-border-color:  $secondary;

// Forms Style overrides
// fonts
  $form-text-color:                 $body-color;
  $form-file-button-color:          $black;
// backgrounds
  $form-file-button-bg:             $secondary;
  //$form-file-button-hover-bg:       shade-color($form-file-button-bg, 5%);


.btn-outline-primary {
  color: $white !important;
}

// Import Bootstrap Style Sheet
@import "bootstrap/scss/bootstrap";

:root {
  //--wma-background-color: var(--bs-gray-800);
  --wma-card-color: var(--bs-gray-800);
  --wma-header-bg: var(--wma-card-color);
}
