
// Override Bootstrap Global Variables
$theme: "default" !default;

$primary: #5b35da;
$secondary: #838383;

$black: #1c1c1c;
$white: #e5e5e5;

$body-color: $black;
$body-bg: $white;

$input-bg:                              $white;
$input-disabled-bg:                     $secondary;

$input-color:                           $body-color;
$input-border-color:                    $secondary;

$form-text-color:                       $secondary;
$form-file-button-color:          $white;
$form-file-button-bg:             $secondary;
$form-file-button-hover-bg:       shade-color($form-file-button-bg, 5%);

// Override Bootstrap Global Classes
.btn-primary {
  color: white !important;
}

// Import Bootstrap Style Sheet
@import "bootstrap/scss/bootstrap";

// Define extra variables using Bootstrap Colors
:root {
  --wma-card-color: #dadada;
  --wma-header-bg: var(--bs-body-bg);
}
