
// Import Bootstrap Icons
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");

// Declare Classes to be Imported through the app!
.btn {
  border-radius: 0 !important;
}

.main-layout {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.main-vertical-card, .sidebar-vertical-card {
  border-color: #b0ff8e;
  border-style: solid;
  border-radius: 0.5rem;
  padding: 20px;
  margin: 10px;
}

.main-vertical-card {
  min-width: 65vw;
}

.sidebar-vertical-card {
  min-width: 30vw;
}

.my-tooltip-tip {
  display: none;
}

.my-tooltip:hover + .my-tooltip-tip {
  // important: must be used in position: relative div
  display: block;
  position: absolute;
  top: 0;
  z-index: 1;

  border-width: 1px;
  border-style: solid;
  background-color: white;
  color: black;
  margin: 0 0 30px 30px;
  padding: 1px 10px;
}

:root {
  --wma-community-banner-height: 150px;
  --wma-community-header-info-height: 75px;
  --wma-community-header-height: calc(var(--wma-community-banner-height) + var(--wma-community-header-info-height));
}
