<div id="create-community-wrapper">
  <input
    type="text"
    class="form-control"
    [formControl]="communityRefForm"
    required
    placeholder="Enter Community Ref"
    >

    <div class="warnings" id="ref-warnings">
      <div
        *ngIf="communityRefForm.hasError('pattern')"
        class="alert alert-danger"
        role="alert">
        Community Locator must... <br>
        <ul>
          <li>only contain lowercase letters (a-z) , numbers (0-9) , and hyphens (-) .</li>
          <li>Locator must not begin or end with a hyphen (-)</li>
          <li>Locator must not begin with a number (0-9)</li>
        </ul>
      </div>

      <div
        *ngIf="communityRefForm.getRawValue()!.length < 3"
        class="alert alert-danger"
        role="alert">
        Community Locator is required and must be longer than 2 characters.
      </div>

      <div
        *ngIf="communityRefForm.getRawValue()!.length > 30"
        class="alert alert-danger"
        role="alert">
        Community Locator must be no longer than than 30 characters!
      </div>
    </div>

  <input
    type="text"
    class="form-control"
    [formControl]="communityDisplayNameForm"
    required
    placeholder="Enter Community Display Name"
    >

  <div class="warnings" id="display-name-warnings">
    <div
      *ngIf="communityDisplayNameForm.getRawValue()!.length < 3 &&
              communityDisplayNameForm.getRawValue()!.length != 0"
      class="alert alert-danger"
      role="alert">
      Community Display Name must be longer than 2 characters!
    </div>

    <div
      *ngIf="communityDisplayNameForm.getRawValue()!.length > 100"
      class="alert alert-danger"
      role="alert">
      Community Display Name must be no longer than than 100 characters!
    </div>
  </div>

  <button
    class="btn btn-primary"
    [disabled]="this.communityRefForm.invalid||this.communityDisplayNameForm.invalid"
    (click)="createCommunity()"
  >
    Get Started!
  </button>
</div>
