
<div style="padding: 10px;" *ngIf="!this.loading; else loadingScreen">

  <input
    type="text"
    class="form-control edit-community-field"
    [formControl]="communityRefForm"
    placeholder="Enter new Community Ref (used in URLs and to search your community)"
  >

  <div class="warnings" id="edit-ref-warnings">
    <div
      *ngIf="communityRefForm.hasError('pattern')"
      class="alert alert-danger"
      role="alert">
      Community Locator must... <br>
      <ul>
        <li>only contain lowercase letters (a-z) , numbers (0-9) , and hyphens (-) .</li>
        <li>Locator must not begin or end with a hyphen (-)</li>
        <li>Locator must not begin with a number (0-9)</li>
      </ul>
    </div>

    <div
      *ngIf="communityRefForm.getRawValue()!.length < 3 &&
            communityRefForm.getRawValue()!.length != 0"
      class="alert alert-danger"
      role="alert">
      Community Locator must be longer than 2 characters!
    </div>

    <div
      *ngIf="communityRefForm.getRawValue()!.length > 30"
      class="alert alert-danger"
      role="alert">
      Community Locator must be no longer than than 30 characters!
    </div>
  </div>

  <input
    type="text"
    class="form-control edit-community-field"
    [formControl]="communityDisplayNameForm"
    placeholder="Enter new Community Display Name"
  >

  <div class="warnings" id="edit-display-name-warnings">
    <div
      *ngIf="communityDisplayNameForm.getRawValue()!.length < 3 &&
            communityDisplayNameForm.getRawValue()!.length != 0"
      class="alert alert-danger"
      role="alert">
      Community Display Name must be longer than 2 characters!
    </div>

    <div
      *ngIf="communityDisplayNameForm.getRawValue()!.length > 100"
      class="alert alert-danger"
      role="alert">
      Community Display Name must be no longer than than 100 characters!
    </div>
  </div>

  <div class="edit-community-field">
    <app-image-upload-and-crop
      class="edit-community-field"
      userDialog="Update community icon: "
      [MAINTAIN_ASPECT_RATIO]="true"
      [ASPECT_RATIO]="1"
      [resetImageComponent]="this.resetEventEmitter"
      (imageCroppedAndReadyEvent)="uploadCommunityResource('icon',$event)">
    </app-image-upload-and-crop>
  </div>

  <div class="edit-community-field">
    <app-image-upload-and-crop
      userDialog="Update community banner: "
      [MAINTAIN_ASPECT_RATIO]="true"
      [ASPECT_RATIO]="16 / 9"
      [resetImageComponent]="this.resetEventEmitter"
      (imageCroppedAndReadyEvent)="uploadCommunityResource('banner',$event)">
    </app-image-upload-and-crop>
  </div>

  <button
    *ngIf="!PROCESSING; else loadingScreen"
    class="btn btn-primary edit-community-field"
    [disabled]="this.communityRefForm.invalid||this.communityDisplayNameForm.invalid"
    (click)="updateCommunity()"
  >
    Update!
  </button>

  <div
    *ngIf="SHOW_ERROR"
    id="away"
    class="alert alert-danger alert-dismissible"
    role="alert">
    {{ ERROR_TEXT }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="resetError()"></button>
  </div>

</div>

<ng-template #loadingScreen>
  <div style="margin: 50px">
    <div class="spinner-border text-success" style="width: 3rem; height: 3rem;" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</ng-template>
