
<div *ngIf="!this.loading">

  <h1>Community Owner: {{ communityInfo.ownerId }}</h1>

  <input
    type="text"
    class="form-control"
    [formControl]="communityRefForm"
    placeholder="Enter new Community Ref (used in URLs and to search your community)"
  >

  <input
    type="text"
    class="form-control"
    [formControl]="communityDisplayNameForm"
    placeholder="Enter new Community Display Name"
  >

  <h2>Community Icon:</h2>
  <app-image-upload-and-crop
    [MAINTAIN_ASPECT_RATIO]="true"
    [ASPECT_RATIO]="1"
    [resetImageComponent]="this.resetEventEmitter"
    (imageCroppedAndReadyEvent)="uploadCommunityResource('icon',$event)">
  </app-image-upload-and-crop>

  <h2>Community Banner:</h2>
  <app-image-upload-and-crop
    [MAINTAIN_ASPECT_RATIO]="true"
    [ASPECT_RATIO]="16 / 9"
    [resetImageComponent]="this.resetEventEmitter"
    (imageCroppedAndReadyEvent)="uploadCommunityResource('banner',$event)">
  </app-image-upload-and-crop>

  <button
    class="btn btn-primary"
    [disabled]="this.communityRefForm.invalid||this.communityDisplayNameForm.invalid"
    (click)="updateCommunity()"
  >
    Update!
  </button>
</div>
