
<div style="padding: 10px;" *ngIf="currentCommunity.initialized; else loadingScreen">

  <div class="edit-community-field">
    <span>Enter new community locator! <br>Used in URLs and to locate your community...</span>
    <input
      type="text"
      class="form-control"
      [formControl]="communityLocatorForm"
      placeholder="Enter new Locator"
    >
  </div>

  <app-static-errors [WARNINGS]="[
    {
      show: communityLocatorForm.hasError('pattern'),
      message: '
        Community Locator must... <br>
        <ul>
          <li>only contain lowercase letters (a-z) , numbers (0-9) , and hyphens (-) .</li>
          <li>Locator must not begin or end with a hyphen (-)</li>
          <li>Locator must not begin with a number (0-9)</li>
        </ul>
      ' 
    },
    {
      show: communityLocatorForm.dirty &&  communityLocatorForm.value &&  communityLocatorForm.getRawValue()!.length < preferences.COMMUNITY_REF_MIN,
      message: 'Community Locator must be at least ' + preferences.COMMUNITY_REF_MIN + ' characters!'
    },
    {
      show: communityLocatorForm.value && communityLocatorForm.getRawValue()!.length > preferences.COMMUNITY_REF_MAX,
      message: 'Community Locator must be no longer than than ' + preferences.COMMUNITY_REF_MAX + ' characters!' 
    },
  ]"></app-static-errors>

  <div class="edit-community-field">
    <span>Enter new community display name! <br>Used to search for your community...</span>
    <input
      type="text"
      class="form-control"
      [formControl]="communityDisplayNameForm"
      placeholder="Enter new Display Name"
    >
  </div>

  <app-static-errors [WARNINGS]="[
    {
      show: communityDisplayNameForm.dirty && communityDisplayNameForm.value &&
            communityDisplayNameForm.getRawValue()!.length < preferences.COMMUNITY_NAME_MIN,
      message: 'Community Display Name must be longer than ' + (preferences.COMMUNITY_NAME_MIN - 1) + ' characters!'
    },
    {
      show: communityLocatorForm.value && communityLocatorForm.getRawValue()!.length > preferences.COMMUNITY_REF_MAX,
      message: 'Community Display Name must be no longer than than ' + preferences.COMMUNITY_NAME_MAX + ' characters!' 
    },
  ]"></app-static-errors>

  <div class="edit-community-field">
    <app-image-upload-and-crop
      userDialog="Update community icon: "
      [MAINTAIN_ASPECT_RATIO]="true"
      [ASPECT_RATIO]="1"
      [resetImageComponent]="this.resetEventEmitter"
      (imageCroppedAndReadyEvent)="uploadCommunityResource('icon',$event)">
    </app-image-upload-and-crop>
  </div>

  <div class="edit-community-field">
    <app-image-upload-and-crop
      userDialog="Update community banner: "
      [MAINTAIN_ASPECT_RATIO]="true"
      [ASPECT_RATIO]="16 / 9"
      [resetImageComponent]="this.resetEventEmitter"
      (imageCroppedAndReadyEvent)="uploadCommunityResource('banner',$event)">
    </app-image-upload-and-crop>
  </div>

  <button
    *ngIf="!PROCESSING; else loadingScreen"
    class="btn btn-primary edit-community-field"
    [disabled]="this.communityLocatorForm.invalid||this.communityDisplayNameForm.invalid"
    (click)="updateCommunity()"
  >
    Update!
  </button>

  <div *ngFor="let error of ERROR_MESSAGES; index as i">
    <div
      *ngIf="error.show"
      id="away"
      class="alert alert-danger alert-dismissible"
      role="alert">
      {{ error.message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="hideError(i)"></button>
    </div>
  </div>

</div>

<ng-template #loadingScreen>
  <div style="margin: 50px">
    <div class="spinner-border text-success" style="width: 3rem; height: 3rem;" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</ng-template>
